@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

 body {
    background-color: rgb(179, 111, 247);
    font-family: "Playwrite", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 60px;
    font-weight: 400;
    font-style: normal;
 
   
    }

    .container {
      max-width: 960px;
      margin: 20px auto;
      padding: 20px;
      background-color: aliceblue;
      border-radius: 5px;
      box-shadow: 0 0 10px rgb(0, 0, 0);
      position: relative;
    
    
    }
    
    #insta {
      width: 95px;
      padding: 30px;
    }
    
    #face {
      width: 95px;
      padding: 30px;
    }
    
    #linke {
      width: 95px;
      padding: 30px;
    } 